html {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  min-width: 320px;
  margin: 0; }

.navBar {
  display: flex;
  gap: 2em;
  box-shadow: 0px 3px 6px 0px #0000004A; }
  .navBar__burguer {
    width: 2em;
    padding-left: 1em;
    cursor: pointer; }
  .navBar__logo {
    display: flex;
    gap: 1em;
    align-items: center; }
    .navBar__logo__letter {
      font-weight: bold;
      font-family: 'Archivo'; }
    .navBar__logo__text {
      line-height: 0;
      font-size: 0.8em;
      font-family: 'Archivo'; }
      .navBar__logo__text--mod {
        font-weight: bold; }
    .navBar__logo__icons {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 100%;
      gap: 1em;
      padding-right: 1em;
      cursor: pointer; }

.header {
  background: #333333;
  color: #ffffff;
  padding-bottom: 4em; }
  .header__title {
    margin: 0;
    padding-top: 3em;
    padding-left: 1em;
    font-family: 'Archivo';
    font-weight: 700;
    width: 12em; }
    .header__title--mod {
      font-family: "Old Standard TT";
      font-weight: 100;
      font-size: 3.5em;
      padding-top: 1em;
      padding-left: 0.3em;
      padding-bottom: 0.7em;
      width: 6em; }
  .header__button {
    color: #ffffff;
    background: #BEAD8E;
    border: 0;
    font-family: 'Archivo';
    font-weight: 700;
    letter-spacing: 0.3em;
    margin-left: 1.5em;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    padding-right: 5em;
    padding-left: 5em;
    cursor: pointer; }
    .header__button--mod {
      background: #333333;
      border: 2px solid #FFFFFF54;
      margin-top: 1.8em; }

.dates {
  background: #222222;
  color: #ffffff;
  font-family: 'Roboto';
  padding-bottom: 2em; }
  .dates__text {
    margin-top: 0;
    padding-top: 2em;
    padding-left: 1.5em; }
  .dates__selector {
    margin-left: 1.5em;
    background: none;
    color: gray;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding-right: 2em; }
    .dates__selector--mod {
      margin-bottom: 3em; }
  .dates__button {
    background: #BEAD8E;
    color: #ffffff;
    font-family: 'Archivo';
    font-weight: 700;
    letter-spacing: 0.3em;
    padding: 1.5em;
    margin-left: 1.5em;
    border: none;
    cursor: pointer; }

.aboutUs {
  margin-top: 4em; }
  .aboutUs__description {
    display: flex;
    flex-direction: column;
    padding-top: 1.4em;
    background: #F9F9F9; }
    .aboutUs__description__title {
      padding-left: 1.2em;
      padding-bottom: 1em;
      letter-spacing: 0.1em;
      font-size: 0.8em;
      font-weight: 700;
      font-family: 'Archivo';
      color: #777777; }
    .aboutUs__description__mainTitle {
      font-family: 'Old Standard TT';
      font-size: 3.5em;
      font-weight: 100;
      margin-top: 0;
      margin-bottom: 0;
      padding-left: 0.3em; }
    .aboutUs__description__text {
      font-family: 'Archivo';
      color: #777777;
      font-weight: 300;
      padding-left: 1.2em;
      padding-bottom: 1.5em;
      width: 81%;
      line-height: 1.5em; }
    .aboutUs__description__button {
      background: #BEAD8E;
      color: #ffffff;
      font-family: 'Archivo';
      font-weight: 700;
      letter-spacing: 0.3em;
      padding: 1.5em;
      margin-bottom: 4em;
      margin-left: 1.5em;
      border: none;
      cursor: pointer;
      width: 60%; }
    .aboutUs__description__img {
      width: 72%;
      height: 18em;
      align-self: center; }
  .aboutUs__team {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3em; }
    .aboutUs__team__title {
      font-family: 'Old Standard TT';
      font-weight: 500;
      font-size: 1.6em;
      padding-bottom: 0.5em;
      padding-top: 1em;
      margin: 0;
      position: relative; }
    .aboutUs__team__text {
      font-family: 'Roboto';
      font-size: 0.8em;
      width: 50%;
      text-align: center;
      margin-top: 0;
      padding-bottom: 8em; }
    .aboutUs__team__icon {
      position: absolute;
      right: 3em; }
    .aboutUs__team__icon2 {
      position: relative; }
    .aboutUs__team__img {
      width: 72%;
      height: 18em;
      align-self: center; }
    .aboutUs__team__room {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 72%;
      background: #222222; }
      .aboutUs__team__room__icon {
        padding-top: 3em; }
      .aboutUs__team__room__title {
        font-family: 'Old Standard TT';
        color: #ffffff;
        font-size: 1.5em;
        margin-bottom: 0; }
      .aboutUs__team__room__text {
        font-family: 'Roboto';
        text-align: center;
        color: #ffffff;
        font-size: 0.8em;
        font-weight: 100;
        padding-bottom: 3em; }
  .aboutUs__rooms {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3em; }
    .aboutUs__rooms__title {
      font-family: 'Archivo';
      color: #777777;
      font-size: 1em;
      letter-spacing: 0.2em; }
    .aboutUs__rooms__mainTitle {
      font-family: 'Old Standard TT';
      font-weight: 100;
      margin-top: 0;
      font-size: 3em;
      text-align: center; }
    .aboutUs__rooms__slider {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .aboutUs__rooms__slider__icons {
        display: flex;
        gap: 1em;
        background: #ffffff;
        padding-bottom: 0.5em;
        padding-left: 0.5em;
        padding-right: 0.5em;
        transform: translateY(15px); }
      .aboutUs__rooms__slider__container__img {
        width: 100%; }
      .aboutUs__rooms__slider__container__left {
        position: relative;
        bottom: 9em; }
      .aboutUs__rooms__slider__container__right {
        position: relative;
        bottom: 9em;
        left: 19.2em; }
    .aboutUs__rooms__pricing {
      display: flex;
      flex-direction: column;
      align-items: center;
      background: #ffffff;
      text-align: center;
      transform: translateY(-54px);
      margin-left: 2em;
      margin-right: 2em; }
      .aboutUs__rooms__pricing__title {
        font-family: 'Old Standard TT';
        font-size: 1.5em;
        margin-bottom: 0; }
      .aboutUs__rooms__pricing__description {
        font-family: 'Roboto';
        font-size: 0.8em;
        color: #777777;
        width: 78%;
        padding-bottom: 0.5em; }
      .aboutUs__rooms__pricing__price {
        font-family: 'Archivo';
        color: #BEAD8E;
        font-size: 1.8em;
        font-weight: 600;
        margin-top: 0; }

.introVideo {
  display: flex;
  flex-direction: column;
  background: #222222; }
  .introVideo__title {
    font-family: 'Archivo';
    font-weight: 500;
    letter-spacing: 0.1em;
    padding-left: 1.8em;
    padding-top: 3.3em;
    padding-bottom: 0.6em;
    color: #BDAC8D; }
  .introVideo__mainTitle {
    font-family: 'Old Standard TT';
    font-size: 3em;
    padding-left: 0.5em;
    color: #ffffff;
    width: 66%;
    margin-top: 0;
    margin-bottom: 0; }
  .introVideo__description {
    font-family: 'Archivo';
    color: #C2C2C2;
    font-size: 0.8em;
    line-height: 1.6em;
    padding-left: 1.5em;
    padding-right: 4em;
    padding-bottom: 2em; }
  .introVideo__video {
    width: 90%;
    align-self: center;
    padding-bottom: 2em; }
  .introVideo__button {
    background: #BEAD8E;
    color: #ffffff;
    font-family: 'Archivo';
    font-weight: 700;
    letter-spacing: 0.3em;
    padding: 1.5em;
    margin-bottom: 4em;
    margin-left: 1.5em;
    border: none;
    cursor: pointer;
    width: 60%; }

/*# sourceMappingURL=styles.css.map */
