.aboutUs {
    margin-top: 4em;
    background: #ffffff;
    &__description {
        display: flex;
        flex-direction: column;
        padding-top: 1.4em;
        background: #F9F9F9;
        &__title {
            padding-left: 1.2em;
            padding-bottom: 1em;
            letter-spacing: 0.175em;
            font-size: 0.875em;
            font-weight: 700;
            font-family: 'Archivo';
            color: #777777;
            &--mod {
                text-align: left;
                padding-left: 3.5em;
                margin-bottom: 0;
                padding-top: 1em;
            }
            &--mod2 {
                padding-left: 0;
            }
            &--mod3 {
                padding-left: 1.5em;
            }
        }
        h1 {
            font-family: 'Old Standard TT';
            font-size: 3.5em;
            font-weight: 100;
            margin-top: 0;
            margin-bottom: 0;
            padding-left: 0.3em;
            max-width: 6em;
        }
        p:last-of-type {
            font-family: 'Archivo';
            color: #777777;
            font-weight: 300;
            padding-left: 1.2em;
            padding-bottom: 1.5em;
            width: 81%;
            line-height: 1.5em;
            max-width: 24em;
        }
        &__button {
            background: #BEAD8E;
            color: #ffffff;
            font-family: 'Archivo';
            font-weight: 700;
            letter-spacing: 0.3em;
            padding: 1.5em;
            margin-bottom: 4em;
            margin-left: 1.5em;
            border: none;
            max-width: 20em;
            cursor: pointer;
            width: 60%;
            &--mod {
                margin-left: 3em;
            }
            &--marginLess {
                margin-left: 0;
            }
            &--disabled {
                display: none;
            }
        }
        img {
            width: 72%;
            height: 18em;
            align-self: center;
        }
    }
    &__team {
        text-align: center;
        padding-top: 3em;
        svg:first-of-type {
            position: relative;
            left: 8em;
        }
        svg:last-of-type {
            position: relative;
            right: 5em;
        }
        p:first-of-type {
            font-family: 'Old Standard TT';
            font-weight: 500;
            font-size: 1.6em;
            padding-bottom: 0.5em;
            padding-top: 1em;
            margin: 0;
            position: relative;
        }
        p:last-of-type {
            font-family: 'Roboto';
            font-size: 0.8em;
            width: 50%;
            text-align: center;
            padding-bottom: 6em;
            margin: 0 auto;
        }
        img {
            width: 72%;
            height: 18em;
        }
        img:last-of-type {
            display: none;
        }
        &__room {
            width: 72%;
            background:#222222;
            margin: 0 auto;
            svg:first-of-type {
                padding-top: 3em;
                right: 0;
            }
            p:first-of-type {
                color: #ffffff;
                font-size: 1.5em;
                margin-bottom: 0;
            }
            p:last-of-type {
                font-family: 'Roboto';
                text-align: center;
                color: #ffffff;
                font-size: 0.8em;
                font-weight: 100;
                padding-bottom: 3em;
            }
        }
    }
    &__rooms {
        text-align: center;
        padding-top: 3em;
        h2 {
            font-family: 'Archivo';
            color: #777777;
            font-size: 1em;
            letter-spacing: 0.2em;
        }
        h1 {
            font-family: 'Old Standard TT';
            font-weight: 100;
            margin-top: 0;
            font-size: 3em;
            text-align: center;
        }
        &__pricing {
            width: 80%;
            background: #ffffff;
            text-align: center;
            transform: translateY(-54px);
            margin: 0 auto;
            &--mod {
                transform: translateY(-20px);
            }
            &__title {
                font-family: 'Old Standard TT';
                font-size: 1.5em;
                margin-bottom: 0;
                padding-top: 0.8em;
                padding-bottom: 0.5em;
                &--mod {
                    padding-top: 0;
                    margin-top: 0;
                }
                &--mod2 {
                    padding-top: 0;
                }
            }
            &__description {
                font-family: 'Roboto';
                font-size: 0.8em;
                color: #777777;
                width: 78%;
                padding-bottom: 1.5em;
                margin: 0 auto;
                &--mod {
                    text-align: center;
                    padding-bottom: 0;
                }
                &--left {
                    text-align: left;
                    font-size: 0.875em;
                    line-height: 1.5em;
                    margin-left: 0;
                    margin-right: 0;
                    padding-left: 1.5em;
                    width: 86%;
                }
                &--bigger {
                    font-size: 1em;
                    text-align: center;
                }
                &--smaller {
                    margin-left: 0;
                    margin-right: 0;
                    padding-left: 2em;
                    padding-right: 1em;
                    padding-top: 1em;
                    width: 84%;
                    font-size: 1em;
                }
                &--justify {
                    text-align: left;
                    font-size: 0.875em;
                    line-height: 1.5em;
                    margin-left: 0;
                    padding-left: 1.5em;
                    padding-top: 1em;
                    width: 86%;
                }
            }
            &__price {
                font-family: 'Archivo';
                color: #BEAD8E;
                font-size: 1.8em;
                font-weight: 600;
                margin-top: 0;
                &--mod {
                    display: inline;
                    font-size: 1em;
                }
                &--padding {
                    padding-top: 0.5em;
                }
            }
        }
    }
}

@media only screen and (min-width: 1000px) {
    .aboutUs {
        display: flex;
        flex-direction: column;
        margin-top: 0;
        padding-top: 6em;
        &__container {
            display: flex;
            flex-direction: row-reverse;
        }
        &__description {
            display: block;
            width: 50%;
            p:last-of-type {
                font-size: 0.875em;
            }
            img {
                display: none;
            }
            &__button {
                width: 35%;
                margin-left: 3.3em;
            }
        }
        &__team {
            display: grid;
            grid-template-columns: auto auto;
            margin-right: 1em;
            width: 50%;
            max-width: 31em;
            margin-left: 4em;
            img:first-of-type {
                margin-left: 0.5em;
            }
            img:last-of-type {
                margin-right: 0.5em;
                display: block;
            }
            &__strong {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            svg:first-of-type {
                position: absolute;
                width: 6em;
            }
            svg:last-of-type {
                position: static;
            }
            p:last-of-type {
                padding-bottom: 0;
            }
            img {
                height: 15em;
                object-fit: contain;
                width: auto;
            }
            &__room {
                width: auto;
                margin-left: 0.5em;
                margin-top: 1.5em;
                padding-bottom: 1.5em;
            }
        }
    }
}