.achievements {
    background: #222222;
    text-align: center;
    padding-bottom: 1em;
    &__item {
        padding-top: 4em;
        &__text {
            font-family: 'Roboto';
            color: #ffffff;
            font-size: 4.3em;
            font-weight: 500;
            margin-top: 0;
            margin-bottom: 0;
            padding-left: 0.2em;
        }
        &__subText {
            font-family: 'Roboto';
            font-weight: 500;
            color: gray;
            margin-top: 0;
            margin-bottom: 0;
            padding-bottom: 2em;
        }
    }
}

@media only screen and (min-width: 1000px) {
    .achievements {
        display: flex;
        justify-content: space-around;
    }
}