.cancellationTerms {
    padding-top: 3em;
    padding-bottom: 3em;
    h2 {
        font-family: 'Old Standard TT';
        font-weight: 400;
        font-size: 1.875em;
        padding-left: 1em;
        text-align: left;
        margin-bottom: 0;
    }
}