.dates {
    background: #222222;
    color: #ffffff;
    font-family: 'Roboto';
    padding-bottom: 2em;
    &__text {
        margin-top: 0;
        padding-top: 2em;
        padding-left: 1.5em;
    }
    &__selector {
        margin-left: 1.5em;
        background: none;
        color: gray;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        padding-right: 2em;
        &--mod {
            margin-bottom: 3em;
        }
    }
    &__button {
        background: #BEAD8E;
        color: #ffffff;
        font-family: 'Archivo';
        font-weight: 700;
        letter-spacing: 0.3em;
        padding: 1.5em;
        margin-left: 1.5em;
        border: none;
        cursor: pointer;
    }
}