.features {
    padding-bottom: 6em;
    text-align: center;
    background: #ffffff;
    &--dark {
        background: #222222;
        padding-bottom: 3em;
    }
    &__title {
        font-family: 'Archivo';
        font-weight: 600;
        color: #777777;
        font-size: 1em;
        letter-spacing: 0.2em;
        padding-top: 2.5em;
        &--dark {
            color: #ffffff;
        }
    }
    &__mainTitle {
        font-family: 'Old Standard TT';
        font-weight: 100;
        margin-top: 0;
        margin-bottom: 0;
        font-size: 3em;
        text-align: center;
        &--dark {
            color: #ffffff;
        }
    }
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &--dark {
            background: #292929;
            margin-top: 2em;
        }
        svg {
            padding-left: 2em;
            align-self: end ;
        }
        &__number {
            font-family: 'Archivo';
            font-weight: 700;
            font-size: 10em;
            margin-top: 0;
            margin-bottom: 0;
            padding-right: 0.1em;
            &--light {
                color: #2222220A;
            }
            &--dark {
                color: #222222;
            }
            &--1 {
                position: absolute;
                left: 1em;
                background-origin: 1em;
                
            }
            &--2 {
                position: absolute;
                left: 1em;
                top: 3.2em;
            }
            &--3 {
                position: absolute;
                top: 4.3em;
                left: 1em;
            }
        }
    }
    &__subTitle {
        font-family: 'Old Standard TT';
        font-size: 1.8em;
        padding-top: 1em;
        padding-bottom: 0.5em;
        padding-left: 1.2em;
        margin-bottom: 0;
        text-align: left;
        &--mod {
            margin-top: 0;
            background: #292929;
            color: #ffffff;
        }
    }
    &__description {
        font-family: 'Archivo';
        font-size: 0.875em;
        color: #777777;
        text-align: left;
        line-height: 2em;
        width: 62%;
        padding-left: 2.8em;
        &--mod {
            background: #292929;
            color: #ffffff;
            padding-bottom: 4em;
            padding-right: 9em;
            margin-top: 0;
            
        }
    }
    &__buttonsContainer {
        width: 100%;
        padding-top: 1.5em;
        text-align: center;
        button {
            width: 1em;
            height: 1em;
            border-radius: 50%;
            background: #EDEDED;
            border: none;
            cursor: pointer;
            margin-right: 0.6em;
        }
    }
}