.features {
    padding-bottom: 6em;
    text-align: center;
    &__title {
        font-family: 'Archivo';
        font-weight: 600;
        color: #777777;
        font-size: 1em;
        letter-spacing: 0.2em;
        padding-top: 2.5em;
    }
    &__mainTitle {
        font-family: 'Old Standard TT';
        font-weight: 100;
        margin-top: 0;
        margin-bottom: 0;
        font-size: 3em;
        text-align: center;
    }
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        svg {
            padding-left: 2em;
            align-self: end ;
        }
        h1 {
            font-family: 'Archivo';
            font-weight: 700;
            color: #2222220A;
            font-size: 10em;
            margin-top: 0;
            margin-bottom: 0;
            padding-right: 0.1em;

        }
    }
    &__subTitle {
        font-family: 'Old Standard TT';
        font-size: 1.8em;
        padding-top: 1em;
        padding-bottom: 0.5em;
        padding-left: 1.2em;
        margin-bottom: 0;
        text-align: left;
    }
    &__description {
        font-family: 'Archivo';
        font-size: 0.8em;
        color: #777777;
        text-align: left;
        line-height: 2em;
        width: 62%;
        padding-left: 2.8em;
    }
    &__buttonsContainer {
        width: 100%;
        padding-top: 1.5em;
        button {
            width: 1em;
            height: 1em;
            border-radius: 50%;
            background: #EDEDED;
            border: none;
            cursor: pointer;
            margin-right: 0.6em;
        }
    }
}