.footer {
    &__head {
        padding-top: 3em;
        &__logo {
            display: inline-block;
            color: #ffffff;
            background: #BEAD8E;
            font-family: 'Archivo';
            text-align: center;
            width: 10%;
            padding-top: 0.6em;
            padding-bottom: 0.6em;
            margin-left: 0.8em;
            padding-left: 0.6em;
            padding-right: 0.6em;
            font-size: 2em;
            font-weight: 500;
        }
        &__text {
            display: inline-block;
            padding-left: 1.5em;
            font-family: 'Archivo';
            font-size: 1.4em;
            &__hotel {
                margin-bottom: 0;
                font-weight: 800;
                letter-spacing: 0.2em;
            }
            &__miranda {
                margin-top: 0;
                letter-spacing: 0.2em;
            }
        }
    }
    &__text {
        font-family: 'Archivo';
        color: #777777;
        font-weight: 300;
        font-size: 0.8em;
        padding-left: 2em;
        line-height: 1.7em;
        width: 76%;
        margin-top: 0;
        margin-bottom: 0;
        padding-bottom: 2.5em;
    }
    &__icons {
        padding-left: 1.8em;
        &__single {
            padding-right: 0.5em;
        }
    }
    &__services {
        font-family: 'Old Standard TT';
        font-size: 1.5em;
        padding-left: 1em;
        padding-top: 1em;
        margin-top: 0;
        margin-bottom: 0;
        padding-bottom: 0.8em;
    } 
    &__serviceList {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        font-family: 'Roboto';
        font-size: 0.8em;
        color: #777777;
        padding-left: 1em;
    }
    &__contact {
        font-family: 'Old Standard TT';
        font-size: 1.5em;
        padding-left: 1em;
        padding-top: 1em;
        margin-top: 0;
        margin-bottom: 0;
        padding-bottom: 0.8em;
    }
    &__contactData {
        padding-left: 1em;
        padding-bottom: 1.5em;
        div {
            svg {
                padding-right: 1em;
            }
            &:nth-child(2) {
                display: inline-block;
            }
            &:nth-child(2) p:first-child {
                font-family: 'Old Standard TT';
                font-size: 1.2em;
                margin-bottom: 0;
            }
            &:nth-child(2) p:last-child {
                font-family: 'Roboto';
                font-size: 0.8em;
                margin-top: 0;
                color: #777777;
            }
        }
    }
    &__copyright {
        background: #F8F8F8;
        padding-left: 1em;
        font-family: 'Roboto';
        font-weight: bold;
        font-size: 0.8em;
    }
}