.founder {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4em;
    img {
        border-radius: 50%;
        width: 42%;
        height: 10em;
        object-fit: cover;
    }
    button {
        background: #BEAD8E;
        width: 3em;
        height: 3em;
        border-radius: 50%;
        position: relative;
        bottom: 12em;
        left: 4.5em;
        border: 3px solid #ffffff;
    }
    &__name {
        font-family: 'Old Standard TT';
        font-size: 1.875em;
        margin-top: 0;
        margin-bottom: 0;
    }
    &__carreer {
        font-family: 'Archivo';
        font-weight: 700;
        font-size: 0.875em;
        letter-spacing: 0.175em;
        color: #BEAD8E;
        padding-top: 0.2em;
        margin-top: 0;
    }
}