.funFacts {
    h1 {
        font-family: 'Old Standard TT';
        font-weight: 100;
        margin-top: 0;
        font-size: 3em;
        width: 6em;
        padding-left: 0.3em;
    }
    &__container {
        display: flex;
        align-items: center;
        gap: 2em;
        &__icon {
            width: 6em;
            padding-left: 1em;
        }
        div {
            p:first-child {
                font-family: 'Old Standard TT';
                font-size: 3.75em;
                margin-top: 0;
                margin-bottom: 0;
            }
            p:last-child {
                font-family: 'Roboto';
                color: #777777;
                margin-top: 0;
            }
        }
    }
    img {
        display: block;
        width: 20em;
        height: 14em;
        margin: 0 auto;
        margin-top: 3em;

    }
}