.introVideo {
    background: #222222;
    p:nth-child(1) {
        font-family: 'Archivo';
        font-weight: 500;
        letter-spacing: 0.1em;
        padding-left: 1.8em;
        padding-top: 3.3em;
        padding-bottom: 0.6em;
        color: #BDAC8D;
    }
    p:nth-child(2) {
        font-family: 'Old Standard TT';
        font-size: 3em;
        padding-left: 0.5em;
        color: #ffffff;
        width: 66%;
        margin-top: 0;
        margin-bottom: 0;
    }
    p:nth-child(3) {
        font-family: 'Archivo';
        color: #C2C2C2;
        font-size: 0.8em;
        line-height: 1.6em;
        padding-left: 1.5em;
        padding-right: 4em;
        padding-bottom: 2em;
    }
    iframe {
        display: block;
        width: 90%;
        padding-bottom: 2em;
        margin: 0 auto;
    }
}