.introVideo {
    background: #222222;
    p:nth-child(1) {
        font-family: 'Archivo';
        font-weight: 500;
        letter-spacing: 0.1em;
        padding-left: 1.8em;
        padding-top: 3.3em;
        padding-bottom: 0.6em;
        color: #BDAC8D;
    }
    p:nth-child(2) {
        font-family: 'Old Standard TT';
        font-size: 3em;
        padding-left: 0.5em;
        color: #ffffff;
        width: 66%;
        margin-top: 0;
        margin-bottom: 0;
    }
    p:nth-child(3) {
        font-family: 'Archivo';
        color: #C2C2C2;
        font-size: 0.8em;
        line-height: 1.6em;
        padding-left: 1.5em;
        padding-right: 4em;
        padding-bottom: 2em;
    }
    &__video {
        background:#222222;
    }
    video {
        display: block;
        width: 90%;
        padding-bottom: 2em;
        margin: 0 auto;
        height: 23em;
        max-width: 35em;
        object-fit: cover;
    }
}

@media only screen and (min-width: 1000px) { 
    .introVideo {
        display: flex;
        p:nth-child(1) {
            padding-left: 2.8em;
        }
        p:nth-child(2) {
            max-width: 7em;
            font-size: 5em;
            width: 7em;
        }
        p:nth-child(3) {
            max-width: 34em;
            padding-left: 3.5em;
            width: 34em;
            padding-right: 8em;
        }
        &__container {
            width: 70%;
        }
        &__video {
            background: #AD9D82;
        }
        video {
            padding-top: 6em;
        }
    }
}

@media only screen and (min-width: 1250px) { 
    .introVideo {
        &__container {
            margin-left: 6em;
        }
        video {
            transform: translateX(-113px);
        }
    }
}

@media only screen and (min-width: 1500px) { 
    .introVideo {
        &__container {
            margin-left: 12em;
        }
        video {
            transform: translateX(-260px);
        }
    }
}