.menu {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    svg {
        align-self: flex-end;
    }
    &__title {
        font-family: 'Archivo';
        font-weight: 600;
        color: #777777;
        font-size: 1em;
        letter-spacing: 0.2em;
        padding-left: 1.4em;
    }
    &__mainTitle {
        font-family: 'Old Standard TT';
        font-weight: 100;
        font-size: 3em;
        padding-left: 0.7em;
        margin-top: 0;
        margin-bottom: 0;
        padding-bottom: 0.5em;
    }
    &__table {
        display: grid;
        grid-template-columns: auto auto;
        div {
            padding-right: 2em;
            padding-bottom: 1em;
            img {
                width: 8em;
                height: 8em;
                padding-left: 1em;
                }
                p:nth-child(1) {
                    font-family: 'Old Standard TT';
                    font-size: 1.5em;
                    margin-top: 0;
                    margin-bottom: 0;
                    padding-top: 0.4em;
                }
                p:nth-child(2) {
                    font-family: 'Roboto';
                    font-size: 0.8em;
                }
        }
    }
    &__food {
        margin-bottom: 2em;
    }
}