.menu {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    svg {
        align-self: flex-end;
        width: 6em;
    }
    &__title {
        font-family: 'Archivo';
        font-weight: 600;
        color: #777777;
        font-size: 1em;
        letter-spacing: 0.2em;
        padding-left: 1.4em;
    }
    &__mainTitle {
        font-family: 'Old Standard TT';
        font-weight: 100;
        font-size: 3em;
        padding-left: 0.7em;
        margin-top: 0;
        margin-bottom: 0;
        padding-bottom: 0.5em;
    }
    &__table {
        display: grid;
        grid-template-columns: auto auto;
        &--2 {
            display: none;
        }
        &--3 {
            display: none;
        }
        &__item {
            padding-right: 2em;
            padding-bottom: 1em;
            img {
                width: 8em;
                height: 8em;
                padding-left: 1em;
                object-fit: cover;
                }
                p:nth-child(1) {
                    font-family: 'Old Standard TT';
                    font-size: 1.5em;
                    margin-top: 0;
                    margin-bottom: 0;
                    padding-top: 0.4em;
                }
                p:nth-child(2) {
                    font-family: 'Roboto';
                    font-size: 0.8em;
                }
        }
    }
    &__food {
        margin-bottom: 2em;
    }
}

@media only screen and (min-width: 1000px) {
    .swiper--menu {
        display: block !important;
        width: 384px;
        height: 432px;
        padding-right: 22em !important;
        padding-top: 3em !important;
    }
    .menu {
        svg {
            align-self: flex-start;
            width: 10em;
            padding-left: 3em;
        }
        &__table {
            display: flex !important;
            padding-top: 3em;
            &--2 {
                display: block;
            }
            &--3 {
                display: block;
            }
            &__item {
                p:nth-child(1) {
                    width: 7em;
                }
            }
        }
    }
}