.restaurant {
    background: #ffffff;
    img {
        display: block;
        width: 18em;
        height: 14em;
        margin-bottom: 1em;
        margin: 0 auto;
        object-fit: cover;
    }
    &__description {
        font-family: 'Archivo';
        font-size: 0.875em;
        color: #777777;
        text-align: left;
        padding-left: 3em;
        width: 19em;
        line-height: 1.8em;
    }
}

@media only screen and (min-width: 1000px) {
    .restaurant {
        display: flex;
        gap: 2.5em;
        padding-bottom: 3em;
        img {
            width: 50%;
            height: 25em;
            margin-left: 3em;
            max-width: 70em;
        }
        &__container {
            width: 40%;
        }
        &__description {

            padding-left: 2.5em;
        }
    }
}
