html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    min-width: 320px;
    margin: 0;
    background: #222222;
}
.slogan {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 9em;
    transform: translateY(15px);
    color: #ffffff;
    font-family: 'Roboto';
    font-weight: 300;
    line-height: 1em;
}
